<div class="ml-64 p-4">
  <h1 class="mb-1 text-3xl font-semibold text-neutral-900">Buscar Gifs</h1>
  <p class="mb-4 text-sm text-neutral-400">
    Buscar gifs por nombre, descripción o tag
  </p>
  <input
    type="search"
    class="mb-4 w-full rounded-lg border border-gray-300 px-4 py-2 text-neutral-900 placeholder:text-neutral-400 focus:ring-2 focus:ring-neutral-900 focus:outline-none"
    placeholder="Buscar gifs..."
    (keyup.enter)="searchGifs(txtSearch.value)"
    #txtSearch />
  <app-grid-list [gifs]="gifService.searchedGifs()" />
</div>
